.mainNav {
    min-height: 100%;
    background: linear-gradient(10deg, #13708d , #483737);
  }
  .companyProfile {
    margin-top: 160px;
    width: 100%;
    padding-bottom: 500px;
  }
  .displayPic {
    width: 100%;
  }