.mainSiteDetails {
    min-height: 100%;
    padding-top: 155px;
}
.stateText {
    font-weight: bold;
    font-weight: 20px;
}
.allowText {
    color: green !important;
}
.blockText {
    color: red;
}
.button {
    color: white;
      background: orange;
      border: none;
      width: 150px;
      height: 30px;
  }
.permissionList {
    height: 50px;
    margin-left: 32%;
}
.permissionText {
    padding-right: 100px;
}
.buttonOuter {
    margin-right: 45%;
    float: right;
}
.permissionOuter {
    margin: 10px;
}
.siteDetailsHeader {
    text-align: center;
    padding-bottom: 50px;
}